<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"  th:fragment="sidebar" id="sidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
        <div class="sidebar-brand-text mx-3">Student Admin</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <div  sec:authorize="hasRole('ADMIN')">
        <!-- Heading -->
        <div class="sidebar-heading">
            Panel de administración
        </div>

        <!-- Nav Item - Charts -->
        <li class="nav-item" id="li-centros-escolares">
            <a class="nav-link" th:href="@{/centros-escolares}">
                <i class="fas fa-school"></i>
                <span>Centros Escolares</span></a>
        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item" id="li-materias">
            <a class="nav-link" th:href="@{/materias}">
                <i class="fas fa-book"></i>
                <span>Materias</span></a>
        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/}">
                <i class="fas fa-users"></i>
                <span>Usuarios</span></a>
        </li>

    </div>

    <div sec:authorize="hasRole('USER')">
        <!-- Heading -->
        <div class="sidebar-heading">
            Panel Coordinacion
        </div>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/}">
                <i class="fas fa-user-graduate"></i>
                <span>Expediente alumno</span></a>
        </li>

        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/materias-cursadas}">
                <i class="fas fa-chalkboard-teacher"></i>
                <span>Materias cursadas</span></a>
        </li>

    </div>


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->