<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Centros Escolares</title>

    <!-- Custom fonts for this template -->
    <link
      href="vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link href="css/sb-admin-2.min.css" rel="stylesheet" />

    <!-- Custom styles for this page -->
    <link
      href="vendor/datatables/dataTables.bootstrap4.min.css"
      rel="stylesheet"
    />
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <ul th:replace="Commons/sidebar :: sidebar" />
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav th:replace="Commons/navbar :: navbar"/>
          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >
              <h1 class="h3 mb-0 text-gray-800">Agregar Materias Cursadas</h1>
            </div>
            <form
              class="mt-5"
              method="POST"
              th:action="@{/guardarNota}"
              ,
              th:object="${estudianteMateria}"
            >   
    
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <span class="font-weight-bold text-primary" th:text="${estudiantes.nombre + ' ' + estudiantes.apellido}"></span>
                </div>
                <div class="card-body">
                  
                  <input
                  type="hidden"
                  class="form-control"
                  th:field="*{id}"
                  id="id"
                />
                <input
                  type="hidden"
                  class="form-control"
                  th:name="estudiante.idEstudiante"
                  th:value="${estudiantes.idEstudiante}"
                />
                <table cellpadding="10">
                  <tr>
                    <td><label for="materia">Materias:</label></td>
                    <td><select th:field="*{materia.idMateria}">
                      <option
                        th:each="ca : ${materias}"
                        th:value="${ca.idMateria}"
                        th:text="${ca.nombre}"
                      />
                     </select></td>
                  </tr>
                  <tr>
                    <td><label for="anio">Año( > 2005):</label></td>
                    <td><input
                      type="text"
                      class="form-control"
                      th:field="*{anio}"
                      id="anio"
                    /></td>
                    <td><small th:errors="*{anio}" style="color: #ff0000;"></small></td>
                    </tr>

                    <tr>
                      <td><label for="ciclo">Ciclo:</label></td>
                      <td><select th:field="*{ciclo}">
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                      </select></td>
                      <td><small th:errors="*{ciclo}" style="color: #ff0000;"></small></td>
                    </tr>
                    
                    <tr>
                      <td><label for="nota">Nota:</label></td>
                      <td><input type="text" class="form-control" th:field="*{nota}" id="nota" /></td>
                      <td><small th:errors="*{nota}" style="color: #ff0000;"></small></td>
                    </tr>
    
                    <tr>
                      <td><a th:href="@{/materias-cursadas}" class="d-sm-inline-block btn btn-secondary shadow-sm"><i class="fas fa-undo-alt"></i> Regresar</a></td>
                      <td><button type="submit" class="d-sm-inline-block btn btn-primary shadow-sm"><i class="far fa-save"></i> Guardar</button></td>      
                    </tr>               
                </table>
                </div>
              </div>
            </form>

          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Your Website 2020</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <script src="js/datatable.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>
  </body>
</html>
