<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Centros Escolares</title>

    <!-- Custom fonts for this template -->
    <link
      href="vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link href="css/sb-admin-2.min.css" rel="stylesheet" />

    <!-- Custom styles for this page -->
    <link
      href="vendor/datatables/dataTables.bootstrap4.min.css"
      rel="stylesheet"
    />
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <ul th:replace="Commons/sidebar :: sidebar" />
        

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav th:replace="Commons/navbar :: navbar"/>
          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >
              <h1 class="h3 mb-0 text-gray-800">Materias Cursadas</h1>
              <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-plus"></i>
              Agregar Nueva Materia
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Buscar Estudiante</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="card mb-4">
                      <div class="card-body">
                        <p class="mb-0">Ingrese el c&oacute;digo del Estudiante:</p><br/>
                        <form method="post" th:action="@{/buscarEstudianteModal}">
                          <div class="form-group">
                            <input class="form-control py-4" id="codigo" type="text" placeholder="Codigo estudiante" style="width: 400px" name="codigo" />
                          </div>
                              <div class="form-group"><input type="submit" class="btn btn-primary" value="Buscar Estudiante">  
                          </form>
                      </div>
                    </div>
              </div>
                  </div>
                </div>
              </div>
            </div>

            <!--end modal-->
            </div>

            <div class="card-body">
              <p class="mb-0">B&uacute;squeda codigo estudiante</p>
              <form method="post" th:action="@{/buscarEstudiante}" th:object="${estudiante}" target="_self">
                <div class="form-group">
                  <input class="form-control py-4" id="codigo" type="text" placeholder="Codigo estudiante" style="width: 400px" name="codigo" />
                </div>
                <div class="form-group"><input type="submit" class="btn btn-primary" value="Buscar Estudiante"></a></div>
                </form>
            </div>
            <th:block th:if="${exito}">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                  Materia guardada con exito
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </th:block>
            <div class="card mb-3">
              <div class="card-header">
                Materias cursadas por alumno
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered text-center" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Acción</th>
                        <th>Nombre</th>
                        <th>Año</th>
                        <th>Ciclo</th>
                        <th>Nota</th>
                        <th>Resultado</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="v : ${estudiantes}">
                        <td><a th:href="@{/editar(id=${v.id},id2=${v.estudiante.idEstudiante})}" class='btn btn-info btn-circle btn-sm' title='Editar'><i class='fa fa-pencil-alt'></i></a></td>
                        <td th:text="${v.materia.nombre}"></td>
                        <td th:text="${v.anio}"></td>
                        <td th:text="${v.ciclo}"></td>
                        <td th:text="${v.nota}"></td>
                        <td th:text="${v.notaDelegate}"></td>
                      </tr>
                    </tbody>
                    </table>
               </div>
              
              </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Your Website 2020</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <script src="js/datatable.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>
  </body>
</html>
