<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Registrar usuario</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-4">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="px-5 py-3">
              <th:block th:if="${success}">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                  Su cuenta ha sido creada con exito, espere la confirmación de un administrador para poder ingresar a nuestra plataforma.
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </th:block>
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">¡Crea una cuenta!</h1>
              </div>
              <form class="user" method="post" th:action="@{/crear-usuario}" th:object="${usuario}">
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" th:field="*{nombre}" id="nombre" name="nombre" class="form-control form-control-user" placeholder="Nombres">
                    <small th:errors="*{nombre}" style="color: #FF0000" class="pl-2"></small>
                  </div>
                  <div class="col-sm-6">
                    <input type="text" th:field="*{apellido}" id="apellido" name="apellido" class="form-control form-control-user" placeholder="Apellidos">
                    <small th:errors="*{apellido}" style="color: #FF0000" class="pl-2"></small>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text"  th:field="*{direccion}" id="direccion" name="direccion" class="form-control form-control-user" placeholder="Direccion">
                  <small th:errors="*{direccion}" style="color: #FF0000" class="pl-2"></small>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" th:field="*{municipio}" id="departamento" class="form-control form-control-user" placeholder="Departamento">
                    <small th:errors="*{municipio}" style="color: #FF0000" class="pl-2"></small>
                  </div>
                  <div class="col-sm-6">
                    <input type="text" th:field="*{municipio}" id="municipio" class="form-control form-control-user" placeholder="Municipio">
                    <small th:errors="*{municipio}" style="color: #FF0000" class="pl-2"></small>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" th:field="*{username}" id="username" class="form-control form-control-user" placeholder="Nombre de usuario">
                  <small th:errors="*{username}" style="color: #FF0000" class="pl-2"></small>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" th:field="*{password}" id="password" class="form-control form-control-user" placeholder="Contraseña">
                    <small th:errors="*{password}" style="color: #FF0000" class="pl-2"></small>
                  </div>
                  <div class="col-sm-6">
                    <input type="password" th:field="*{confirmation_password}" id="confirmation_password" class="form-control form-control-user" placeholder="Confirmar contraseña">
                    <small th:errors="*{confirmation_password}" style="color: #FF0000" class="pl-2"></small>
                  </div>
                  <small th:text="${password_error}" style="color: #FF0000" class="pl-4"></small>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="date" th:field="*{fechaNacimiento}" id="fechaNacimiento" class="form-control form-control-user" placeholder="Fecha Nacimiento">
                    <small th:errors="*{fechaNacimiento}" style="color: #FF0000" class="pl-2"></small>
                  </div>
                  <div class="col-sm-6">
                    <select th:field="*{role}" class="form-control custom-select-1">
                      <option th:value="EMPTY_ROLE" selected>Seleccione su rol</option>
                      <option th:value="ROLE_ADMIN">Administrador</option>
                      <option th:value="ROLE_USER">Coordinador</option>
                    </select>
                    <small th:errors="*{role}" style="color: #FF0000" class="pl-2"></small>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">
                  Crear cuenta
                </button>
              </form>
              <hr>
              <div class="text-center">
                <a class="small" th:href="@{/login}">¿Ya tienes una cuenta? ¡Inicia sesión!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <style>
    .custom-select-1 {
      font-size: 0.8rem;
      border-radius: 10rem;
      height: 50px;
    }
  </style>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

</body>

</html>
